.wrapper {
  width: 90%;
  height: 100vh;
}

.heading {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.book-conatiner {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
}
